* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  z-index: 3000;
  /* background-color: rgb(40, 53, 40); */
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  /* background-color: rgb(120, 120, 120); */
}

.mobile-only-btn {
  display: none;
}

.logo img {
  /* width: 100px; */
  height: 100px;
}
.icon-hamburger {
  display: none;
  /* z-index: 3000; */
}

.nav-links ul {
  display: flex;
  list-style: none;
  gap: 30px;
}

.nav-links ul li {
  margin: 0 10px;
  font-size: 18px;
  font-weight: 500;
  color: black;
  cursor: pointer;
  transition: all 0.3s ease;
}

.nav-links ul li:hover {
  color: rgb(107, 107, 239);
}

@media (max-width: 768px) {
  .navbar {
    z-index: 3000;
    position: sticky;
    top: 0;
    background-color: white;
  }
  .nav-links.active {
    display: flex !important;
    flex-direction: column;
    justify-content: flex-start;
    padding-top: 20vh;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: black;
    z-index: 998;
  }

  .nav-links.active ul {
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 40px;
  }

  .nav-links.active ul li {
    color: white;
  }

  .bt.active {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    position: fixed;
    top: 55vh;
    left: 0;
    width: 100%;
    justify-content: center;
    z-index: 999;
  }
  .icon-hamburger {
    display: block;
  z-index: 3000;

  }

  .bt.active .btn2,
  .bt.active .btn4,
  .bt.active .mobile-only-btn {
    display: block !important;
  }
}
