/* body{
    background-image: url("../src/assets/background.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    filter: brightness(100%);
    /* z-index: 1; */
